<div class="mapouter">
  <div class="gmap_canvas">
    <iframe
      class="gmap_iframe"
      width="100%"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="https://maps.google.com/maps?width=890&amp;height=631&amp;hl=en&amp;q=A Ma Maniére Atlanta&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
    ></iframe
    ><a href="https://sprunkiplay.com/">Sprunki Game</a>
  </div>
  <style>
    .mapouter {
      position: relative;
      text-align: right;
      width: 100%;
      height: 631px;
    }
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      width: 100%;
      height: 631px;
    }
    .gmap_iframe {
      height: 631px !important;
    }
  </style>
</div>
