<div class="beach-header-container container container--full">
  <div class="beach-header-content-container">
    <h1 class="beach-header-title">{{ section.settings.title }}</h1>
  </div>
</div>
<style>
  .beach-header-title {
    color: var(--main_dark, #242424);
    font-family: 'Saol Display';
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    margin-block: 40px;
    margin-right: auto;
    @media screen and (max-width: 1000px) {
      font-size: 40px;
    }
  }
  @media screen and (min-width: 1000px) {
    .beach-header-title {
      max-width: calc(100% - {{section.settings.image.width}}px);
    }
  }
  .beach-header-container {
    position: relative;
    overflow: hidden;
    background-image: url('{{ section.settings.image | img_url: '600x' }}');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
</style>

{% schema %}
{
  "name": "Beach Header",
  "class": "shopify-section--beach-header",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "AMM BEACH"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image Overlay"
    }
  ],
  "presets": [
    {
      "name": "Beach Header"
    }
  ]
}
{% endschema %}
