/* custom flexbox styles */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-no-wrap {
  flex-wrap: nowrap;
}

.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.gap-40 {
  gap: 40px;
}
.gap-50 {
  gap: 50px;
}
.gap-60 {
  gap: 60px;
}
.text-upcase {
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  .flex-sm-column {
    flex-direction: column;
  }
  .flex-sm-wrap {
    flex-wrap: wrap;
  }
  .text-sm-center {
    text-align: center;
  }
  .gap-sm-20 {
    gap: 20px;
  }
  .w-sm-full {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .flex-md-wrap {
    flex-direction: column;
  }
}
.relative {
  position: relative;
}
/* accessibility styles */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.h2-bold {
  font-size: 36px;
  font-weight: 600;
}
.text-italic {
  font-style: italic;
}

span.smartwishlist {
  position: absolute;
  inset-block-start: 0.5rem;
  inset-inline-end: 0.5rem;
}
span.smartwishlist .fa {
  font-size: 14px;
  color: #545454;
}
.header__primary-nav-item:nth-child(2) .mega-menu__linklist li {
  width: 20%;
}

.shopify-section--featured-collections h2.h2 {
  color: rgb(var(--text-color));
  font-family: "Saol Display";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.heading-content p {
  color: rgb(var(--text-color));
  text-align: center;
  font-family: "DINPro";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
  .shopify-section--featured-collections h2.h2 {
    font-family: "Saol Display";
    font-size: 24px;
  }
}

/* text with icons grid */
.text-with-icons__item--title {
  font-family: "DINPro_regular";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.text-with-icons__item--content p {
  color: #6d6d6d;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 700px) {
  .text-with-icons__item {
    flex-basis: 100%;
  }
}

/* localization selector */

button.localization-toggle span {
  font-family: "Roboto";
  letter-spacing: 1.4px;
  color: #8f8f8f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.localization-toggle > svg {
  width: 15px;
  height: 15px;
}
/* footer link menu */
.footer-link-menu-title {
  font-family: var(--text-font-family);
  font-weight: bold;
  font-size: 16px;
}

li.header__primary-nav-item summary,
li.header__primary-nav-item a {
  font-family: var(--text-font-family);
  font-size: var(--text-base);
}
@media only screen and (max-width: 700px) {
  .localization-selectors {
    justify-content: flex-start;
  }
}
/* product page */
sale-price.h4 {
  font-family: DINPro;
  font-size: 32px;
  font-weight: 700;
}
h1.product-title.h3 {
  font-size: clamp(32px, 2.5vw + 16px, 36px);
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  word-spacing: 3px;
}

/* product page style */
.product-info__block-item .feature-badge {
  border: 1px solid var(--Mercury, #e7e7e7);
  padding: 13px 16px;
  font-size: 16px;
}
.feature-badge p,
.block-swatch span {
  line-height: normal;
}

.product-card__media .product-card__image--secondary {
  padding-top: 35px;
}

/* @media screen and (max-width: 700px) {
  image-with-text.image-with-text {
    padding: 20px;
  }
} */

/* image with text styles */
.text-secondary {
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* image with text custom style */
.image-with-text-custom .prose {
  width: -webkit-fill-available;
}

@media screen and (max-width: 700px) {
  .image-with-text-custom image-with-text {
    padding: 20px;
  }
}

/* blog post card */
a.blog-post-card__read-more.link {
  display: flex;
  align-items: center;
  background: none;
  color: #000;
  text-transform: uppercase;
}

/* collection page styles */

.collection-banner-title {
  font-size: 6vw;
}
@media screen and (max-width: 900px) {
  .collection-banner-title {
    font-size: 10vw;
  }
}

.shopify-section--blog-posts {
  margin-top: 80px;
}
@media screen and (max-width: 900px) {
  .shopify-section--blog-posts {
    margin-top: 50px;
  }
}

variant-sku {
  color: #8f8f8f;
  font-family: Roboto;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.product-description-container {
  color: #8f8f8f;
}

.complementary-products__header .h5 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.complementary-products__product-list .product-title {
  font-size: 18px;
  font-weight: 600;
}

.product-content-below-gallery .accordion__toggle span,
.product-info__block-item .accordion__toggle span {
  text-transform: uppercase;
}
.product-content-below-gallery .accordion__content,
.product-info__block-item .accordion__content {
  color: #8f8f8f;
  font-size: 16px;
}

.copy-to-clip {
  cursor: pointer;
}
.copy-success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.complementary-products__product-list .button {
  color: #000;
  font-size: 16px;
  border: 1px solid #1c1c1c;
}
.product-gallery__thumbnail-scroller,
.product-gallery__thumbnail-scroller button {
  min-width: 105px;
}

.scrolling-content__text {
  font-weight: 300;
}
.collection-products-count {
  color: #797979;
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.product-info__block-item sale-price {
  color: #000;
}

h1.h1.collection-banner-title {
  font-size: clamp(24px, 2.5vw + 16px, 36px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}
@media only screen and (min-width: 1000px) {
  .shopify-section--collection-banner .section-spacing {
    padding-top: 80px;
  }
}

/* brands page */
.collection-card.group {
  border: 1px solid #e8e8e8;
  background: #fefefe;
  padding: 25px;
  align-content: space-between;
}

nav.breadcrumb.breadcrumb--floating a,
section.breadcrumbs a {
  text-transform: uppercase;
}
.article-publish-label {
  color: #000;
  font-family: "DINPro";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}
.article-publish-date {
  color: #0a0011;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

.filter-and-search__filter {
  border: 1px solid var(--Mercury, #e7e7e7);
  background: #fff;
  padding: 10px;
}

.filter-and-search__search {
  border: 1px solid var(--Mercury, #e7e7e7);
  background: #fff;
  padding: 10px;
}
button.glider-prev {
  top: 40%;
  left: -30px;
}
button.glider-next {
  top: 40%;
  right: -30px;
}
.footer-copyright {
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-align: left;
}

@media screen and (min-width: 800px) {
  .timeline__item-content {
    padding-left: 0px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 699px) {
  .timeline__item-image-wrapper {
    padding-inline: 3.75rem;
    padding-inline: 1rem;
  }
}

.footer__block.footer__block--newsletter {
  grid-column: span 2;
}

/* circular text */
.content-page-section__circular-text-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-page-section__circular-text {
  font-family: var(--heading-font-family) !important;
  font-size: 22px !important;
  text-transform: uppercase;
}
.content-page-section__circular-text-container img {
  position: absolute;
}

/* customer profile page */
h1#cae-heading {
  text-transform: capitalize;
}

.mega_menu__linklist--brands {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.customer-orders-container {
  margin-top: 50px;
}
.customer-orders-container table,
.customer-orders-container th,
.order-summary__header th,
.customer-order__address-list .h6 {
  font-size: 14px !important;
  color: #000;
}
.customer-orders-container th,
.order-summary__header th {
  font-weight: 500;
  opacity: 1;
}

.terms-relentless {
  padding-bottom: 10px;
}

.collection-toolbar__button-list .text-with-icon,
.collection-toolbar__button-container button {
  opacity: 1;
}

@media all and (display-mode: standalone) {
  .header {
    padding-top: env(safe-area-inset-top);
  }
  .header-sidebar::part(header),
  .drawer::part(header) {
    padding-top: env(safe-area-inset-top);
  }
}

@media screen and (orientation: landscape) {
  .product-gallery__media > * {
    max-height: 70vh;
    object-fit: contain;
  }
  .shopify-section--main-product .section-spacing {
    padding-block-start: var(--container-gutter);
  }
}
