/* custom flexbox styles */

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-start{
  justify-content: flex-start;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.align-center{
  align-items: center;
}
.align-start{
  align-items: flex-start;
}
.align-end{
  align-items: flex-end;
}
.flex-column{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-no-wrap{
  flex-wrap: nowrap;
}
.gap-10{
  gap: 10px;
}
.gap-20{
  gap: 20px;
}
.gap-30{
  gap: 30px;
}
.gap-40{
  gap: 40px;
}
@media screen and (max-width: 700px) {
  .flex-sm-column{
    flex-direction: column;
  }
  .flex-sm-wrap{
    flex-wrap: wrap;
  }
}


/* accessibility styles */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


span.smartwishlist {
  position: absolute;
  inset-block-start: 0.5rem;
  inset-inline-end: 0.5rem;
}
span.smartwishlist .fa {
  font-size: 14px;
  color: #545454;
}
.header__primary-nav-item:nth-child(2) .mega-menu__linklist li {
  width: 20%;
}

.shopify-section--featured-collections h2.h2 {
  color: rgb(var(--text-color));
  font-family: "Saol Display";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.heading-content p {
  color: rgb(var(--text-color));
  text-align: center;
  font-family: "DINPro";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
  .shopify-section--featured-collections h2.h2 {
    font-family: "Saol Display";
    font-size: 24px;
  }
}

/* text with icons grid */
.text-with-icons__item--title {
  font-family: "DINPro_regular";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.text-with-icons__item--content p {
  color: #6d6d6d;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 700px) {
  .text-with-icons__item {
    flex-basis: 100%;
  }
}

/* localization selector */

button.localization-toggle span {
  font-family: "Roboto";
  letter-spacing: 1.4px;
}

/* footer link menu */
.footer-link-menu-title {
  font-family: var(--text-font-family);
  font-weight: bold;
  font-size: 16px;
}

li.header__primary-nav-item summary,
li.header__primary-nav-item a {
  font-family: var(--text-font-family);
}
/* product page */
sale-price.h4 {
  font-family: DINPro;
  font-size: 32px;
  font-weight: 700;
}
h1.product-title.h3 {
  font-size: clamp(32px, 2.5vw + 16px, 36px);
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  word-spacing: 3px;
}

/* product page style */
.product-info__block-item .feature-badge {
  border: 1px solid var(--Mercury, #e7e7e7);
  padding: 13px 16px;
  font-size: 16px;
}

.product-card__media .product-card__image--secondary {
  padding-top: 35px;
}

@media screen and (max-width: 700px) {
  image-with-text.image-with-text {
    padding: 20px;
  }
}

/* image with text custom style */
.image-with-text-custom .prose {
  width: -webkit-fill-available;
}

@media screen and (max-width: 700px) {
  .image-with-text-custom image-with-text {
    padding: 0;
  }
}

/* blog post card */
a.blog-post-card__read-more.link {
  display: flex;
  align-items: center;
  background: none;
  color: #000;
  text-transform: uppercase;
}


/* collection page styles */

.collection-banner-title{
  font-size: 6vw;
}
@media screen and (max-width: 900px) {	
  .collection-banner-title{
    font-size: 10vw;
  }
}

.shopify-section--blog-posts{
  margin-top: 80px;
}
@media screen and (max-width: 900px) {	
  .shopify-section--blog-posts{
    margin-top: 50px;
  }
}